<!-- templates/payment_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Оплата...</title>
</head>
<body>
    <div id="payment-widget"></div>
    
    <!-- Freedom Pay SDK -->
    <script src="https://api.paybox.money/js/pbox.js"></script>
    <script>
        // Данные приходят из FastAPI (render_template)
        const params = {
            'pg_merchant_id': "{{ pg_merchant_id }}",
            'pg_order_id': "{{ pg_order_id }}",
            'pg_amount': "{{ pg_amount }}",
            'pg_currency': "KZT",
            'pg_description': "Доступ к Wi-Fi ({{ pg_amount }} ₸)",
            'pg_sig': "{{ pg_sig }}" // Подпись генерируется на бэкенде
        };

        // Запуск виджета
        const paybox = new Paybox(params);
        paybox.create();
    </script>
</body>
</html>